* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}


li {
    list-style: none;
}

body
{
    height: 869px;
    padding-top: 50px;
}

.form
{   
    background: url(https://img1.akspic.ru/crops/3/3/3/6/7/176333/176333-josemitskij_nacionalnyj_park-nacionalnyj_park-gora-oblako-ekoregion-1920x1080.jpg) no-repeat;
    backdrop-filter: blur(15px);
    background-attachment: fixed;
    background-size: cover;
}

.form__block
{   
    width: 400px;
    height: 650px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 25px;
    margin-top: 50px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.form__block__title
{
    color: #000;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-top: 40px;
}

.form__block__p
{
    color: #505050;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-top: 15px;
}

.form__block__title__input
{
    color: #505050;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 15px;
    padding-left: 50px;
}

.form__block__title__top
{
    margin-top: 25px;
}

.form__block__input
{   
    width: 250px;
    height: 50px;
    border-radius: 10px;
    background: #E1E1E1;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    border: 0;
    outline: none;
    margin-left: 50px;
    margin-top: 8px;
    padding-left: 50px;

    font-family: Roboto;
    font-size: 18px;
}

.form__block__forget__password
{   
    display: flex;
    color: #242424;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 10px;
    padding-left: 214px;
}

.form__block__button
{   
    display: flex;
    width: 303px;
    height: 50px;
    border-radius: 10px;
    background: linear-gradient(93deg, #BCE3FF -3.29%, #6584F0 51.13%, #5D43A9 100.17%);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    border: 0;
    margin-left: 50px;
    margin-top: 100px;
    color: #FFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-left: 114px;
    padding-top: 3px;
}

.form__block__registration
{   
    display: flex;
    color: #242424;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 105px;
    padding-left: 143px;
}

.form__block__input__ico__letter
{
    position: relative;
    left: -290px;
    top: 2px;

}

.form__block__input__ico__lock
{
    position: relative;
    left: -287px;
    top: 5px;
}

.user__return__title
{
    color: #ffffff;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-top: 40px;
}